.new-incident-conteiner {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-incident-conteiner .content {
    width: 100%;
    padding: 96px;
    background: #F0F0F5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-incident-conteiner .content section {
    width: 100%;
    max-width: 380px;
}

.new-incident-conteiner .content section h1 {
    margin: 64px 0 32px;
    font-size: 32px;
}

.new-incident-conteiner .content section p {
    font-size: 18px;
    color: #737380;
    line-height: 32px;
}

.new-incident-conteiner .content form {
    width: 100%;
    max-width: 450px;
}

.new-incident-conteiner .content form input,
.new-incident-conteiner .content form textarea{
    margin-top: 8px;
}
